.margin{
    border-bottom: 3px solid gray;
}
.h2222{
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.7px;
   
}
.pp2{
    font-size: 40px;
    color: rgb(10, 142, 98);
    padding: 10px;
    margin-bottom: 5px;
}